@import "tailwindcss";

:root {
  --background: black;
  --foreground: #FCF7ED;
  --foreground_text_color: black;
  --background_text_color: #FCF7ED;
  --hover_text_color: #8e82fe;
  --hover_background_color: #8e82fe;
  --focus_text_color: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground_text_color: var(--foreground_text_color);
  --color-background_text_color: var(--background_text_color);
  --color-hover_text_color: var(--hover_text_color);
  --color-hover_background_color: var(--hover_background_color);

  --color-focus_text_color: var(--focus_text_color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-shantell: var(--font-shantell-sans);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
    --foreground_text_color: white;
    --hover_text_color: rgb(191, 79, 232);
  }
} */

body {
  background: var(--foreground);
  color: var(--foreground_text_color);
  font-family: var(--font-shantell-sans), Arial, Helvetica, sans-serif;
  min-width: 250px;
}

.page-main {
  @apply
    min-h-screen
    flex
    flex-col;
}

nav {
  @apply
    text-foreground_text_color;
}

footer {
  @apply
    text-foreground_text_color;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  @apply
    text-foreground
}

a {
  @apply
    hover:text-hover_text_color
    hover:stroke-hover_text_color
    duration-300 ease-in-out;
}

.grasphand-decor-bar {
  margin-top: -1px;
  @apply
    relative
    -z-10
    mr-1
    ml-1
    pointer-events-none
    ;
}

.svg-grasp-hand-icon {
  stroke: var(--background);
  fill: var(--foreground);
  stroke-width: 39;
}

svg.splat {
  @apply
    absolute
    inset-0
    w-full
    h-full;
}

.splat-path {
  stroke: var(--background_text_color);
}

.splat-path-square {
  scale: 0.097;
  stroke-width: 6;
}

.splat-path-rectangle {
  scale: 0.1;
  stroke-width: 18;
}

.svg-loading-icon {
  stroke: var(--foreground_text_color);
  stroke-width: 60;
}

.carousel-button {
  @apply
    pr-6
    pl-6
    pb-3 
    pt-1
    font-bold
    text-5xl
    rounded-full
    border-2
    border-foreground
    bg-foreground
    text-background
    hover:border-hover_background_color
    hover:text-hover_text_color;
}

.nav-link {
  @apply
    stroke-background
    hover:text-hover_text_color
    hover:stroke-hover_text_color
    duration-300 ease-in-out;
}

.nav-link-in-content {
  @apply
    underline
    underline-offset-3
    stroke-background_text_color
    hover:text-hover_text_color
    hover:stroke-hover_text_color
    duration-300 ease-in-out;
}

.nav-focus {
  @apply text-foreground_text_color stroke-foreground_text_color;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--text-focus_text_color);
  text-underline-offset: 5px;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}